<h2>Products</h2>

<div *ngFor="let product of products2">
  <h3>
    <a [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button type="button" (click)="share()">Share</button>
  <!-- <button type="button" (click)="sayHi()"  style="margin-left:2px">
    Hi
  </button> -->

  <!-- sample of passing data to a component child and passing data also to parent samples -->
  <!-- notify is from the product-alert , and onNotify is on product list, the function to be called back -->
  <app-product-alerts
  [product]="product"
  (notify)="onNotify($event)">
  >
</app-product-alerts>

</div>
